.counter-button{
    font-weight: bold;
    font-size: 25px;
    margin-right: 10px;
    color: black;
    
   }

.productQuanty{
    margin-right: 10px;
    color: black;
    font-size: 25px;
    font-weight: bolder;
    font-style: italic;
    

}

